@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Lora:ital@1&family=Roboto+Slab:wght@500&family=Rubik+Burned&display=swap");

.v-space {
  margin-top: 25pt;
}

.double-v-space {
  margin-top: 50pt;
}

.new-line {
  margin-top: 1.2em;
}

.blue-bg-large-padding {
  background-color: rgb(17, 4, 100);
  padding: 5%;
  padding-bottom: 18%;
  padding-top: 18%;
}

.blue-bg-small-padding {
  background-color: rgb(17, 4, 100);
  padding: 2%;
  padding-bottom: 8%;
  padding-top: 8%;
}

.slides > section:before {
  font-size: 0.3em;
  position: absolute;
  bottom: 0.25em;
  left: 0.25em;
  color: grey;
  content: "PROG1000X, NIKA-26/27"
}

.smaller-font {
  font-size: 80%;
}

.navigate-right .controls-arrow {
  font-size: 20px;
}

.controls button {
  color: red;
}

.slides h1,
.slides h2,
.slides h3 {
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
}

.slides a {
  color: red;
}

.slides .title {
  font-size: 96px;
  color: rgb(255, 255, 255);
  font-family: Fredoka;
  text-transform: uppercase;
}

.slides .subtitle {
  font-size: 60px;
  color: rgb(225, 248, 151);
  font-family: Fredoka;
  text-transform: uppercase;
}

.quarto-title-author-name {
  font-size: 60px;
  color: rgb(225, 248, 151);
  font-family: Fredoka;
  text-transform: uppercase;
}

.date {
  font-size: 80px;
  color: green !important;
}

.navigate-up .controls-arrow,
.navigate-down .controls-arrow .enabled {
  font-size: 20px;
  color: red;
}

.navigate-left .controls-arrow,
.navigate-right .controls-arrow {
  font-size: 10px;
  color: red;
}

.yellow-text {
  color: yellow;
}

.memory-layout {
  position: relative;
  width: 900px;
  height: 300px;
  margin: 40px auto;
}

/* Minnesraden */
.memory-cells {
  position: absolute;
  left: 50px;
  top: 150px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  width: 800px;
  height: 80px;
}

.memory-cell {
  border: 3px solid #333;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: monospace;
  font-size: 28px;
}

/* Variabelnamnen */
.variable {
  position: absolute;
  top: 20px;

  font-family: monospace;
  font-size: 26px;
  text-align: center;
}

/* Pilarna från variabelnamnen */
.arrow {
  display: block;

  width: 4px;
  height: 57px;

  background: #AAA;

  margin: 10px auto 0;

  position: relative;
}

/* Pilspetsarna till variabelvärden */
.arrow::after {
  content: "";

  position: absolute;
  bottom: -5px;
  left: -7px;

  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 15px solid #AAA;
}

/* Positionera variablerna över cell 2, 3 och 4 */
.score {
  left: 255px;
}

.speed {
  left:415px;
}

.name {
  left: 580px;
}

/* Pil för minnesadresser */
.address-arrow {
  position: absolute;
  left: 50px;
  top: 255px;

  width: 790px;
  height: 4px;

  background: #AAA;
}

.address-arrow::after {
  content: "";

  position: absolute;
  right: -8px;
  top: -7px;

  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid #AAA;
}

.address-label {
  position: absolute;
  left: 50px;
  top: 270px;

  width: 800px;

  text-align: center;

  font-size: 22px;
  color: #AAA;
}
