h2 {
  font-size: 1.1rem;
}

.tom-box {
  height: 190px;
  border: 1px solid #999;
  margin: 1em 0;
  border-radius: 5px;
}

.frame .cell-code {
  border: 1px solid black;
}

.ram .cell-code {
  border: 1px solid gray;
  border-radius: 5px;
}

.sourceCode {
  border: 1px solid gray;
  border-radius: 5px;
}
