@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Lora:ital@1&family=Roboto+Slab:wght@500&family=Rubik+Burned&display=swap");

.v-space {
  margin-top: 25pt;
}

.double-v-space {
  margin-top: 50pt;
}

.new-line {
  margin-top: 1.2em;
}

.blue-bg-large-padding {
  background-color: rgb(17, 4, 100);
  padding: 5%;
  padding-bottom: 18%;
  padding-top: 18%;
}

.blue-bg-small-padding {
  background-color: rgb(17, 4, 100);
  padding: 2%;
  padding-bottom: 8%;
  padding-top: 8%;
}

.slides > section:before {
  font-size: 0.3em;
  position: absolute;
  bottom: 0.25em;
  left: 0.25em;
  color: grey;
  content: "PROG1000X, NIKA-26/27";
}

.smaller-font {
  font-size: 75%;
}

.navigate-right .controls-arrow {
  font-size: 20px;
}

.controls button {
  color: red;
}

.slides h1,
.slides h2,
.slides h3 {
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
}

.slides a {
  color: red;
}

.slides .title {
  font-size: 96px;
  color: rgb(255, 255, 255);
  font-family: Fredoka;
  text-transform: uppercase;
  transform: translateY(-100px);
  text-align: right;
}

.slides .subtitle {
  white-space: pre;
  font-size: 60px;
  color: rgb(225, 248, 151);
  font-family: Fredoka;
  text-transform: uppercase;
  transform: translateY(-100px);
  border: 1px dotted yellow;
  /* display: inline-block; */
  /* box-sizing: border-box; */
  width: 60%;
  padding: 10px;
}

.quarto-title-author-name {
  font-size: 60px;
  color: rgb(225, 248, 151);
  font-family: Fredoka;
  text-transform: uppercase;
}

.date {
  font-size: 80px;
  color: green !important;
}

.navigate-up .controls-arrow,
.navigate-down .controls-arrow .enabled {
  font-size: 20px;
  color: red;
}

.navigate-left .controls-arrow,
.navigate-right .controls-arrow {
  font-size: 10px;
  color: red;
}


/* Kod som matas ut manuellt på en slajd, alltså inte som
 * utmatning från ettt kodblock */
.code-out {
  color: black;
  font-family: "Courier New";
  background-color: lightgrey;
  font-size: 70%;
  padding: 0.25em;
}

/* Kan användas för att markera utmatningar från `code-out` med
 * t ex A, B, C för referens */
.out-part {
  font-family: "Courier New";
  font-size: 80%;
  color: orange;
  position: relative; /* Texten flyttas */
  top: 5px;           /* ned 5px i elementet */
}



 .output-black-on-white .cell-output.cell-output-stdout > pre > code{
  color: black;
  font-family: "Courier New";
  background-color: lightgray;
  font-size: 120%;
  padding: 0.5em;
  margin-top: 0.5em;
}


 .my-output .cell-output.cell-output-stdout > pre > code{
  background-color: lightblue;
}

/* Gör radnumret transparent */
.num-trans a, .my-input a:hover {
  color: transparent;
}

/* Flyttar radnumret utanför vänstermarginalen */
 .no-line-numbers pre.numberSource code > span {
  left: -4em !important;
}

.code-size-75 .sourceCode pre code {
  font-size: 75%;
}

.code-size-80 .sourceCode pre code {
  font-size: 80%;
}
 
.code-size-85 .sourceCode pre code {
  font-size: 85%;
}


.code-size-90 .sourceCode pre code {
  font-size: 90%;
}

.code-size-95 .sourceCode pre code {
  font-size: 95%;
}
